body {
  font-family: 'Courier New', monospace;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 99vh;
  width: 98vw;
  margin: 0;
  background-color: #000000;
  font-size: 16px;
}
    
/* scrollbar */
/* width */
::-webkit-scrollbar {
width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
background: #000; 
}
/* Handle */
::-webkit-scrollbar-thumb {
background: #333; 
box-shadow: inset 0px 0px 2px 2px #111;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #999; 
}
/* end scrollbar */

.term{
    fill: #008033
}
.bterm{
    color: #7fff7f
}
.math{
    fill: #800000
}
.bmath{
    color: #ff8080
}
.spc{
    fill: #660080
}
.bspc{
    color: #e680ff
}
.mus{
    fill: #003380
}
.bmus{
    color: #80b3ff
}
.myt{
    fill: #668000
}
.bmyt{
    color: #e5ff80
}

.hidden {
	visibility: hidden;
}

h3 {
    position: relative;
    color: #FFFFFF;
    text-align: right;
    direction: rtl;
}

p {
    position: relative;
    color: #FFFFFF;
    unicode-bidi: isolate;
    text-align: right;
    justify-content: right;
    word-wrap: break-word;
    text-align: right;
    direction: rtl;
}
b {
    cursor: pointer;
    color: inherit;
}
#navButton {
    width: 30px;
    height: 30px;
	background-image:url("https://yairmallah.github.io/pgmr/imgs/nav%20schame.gif");
	background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
	/*background: #222;*/
    color: white;
    border: none;
    border-radius: 5%;
    cursor: grab;
    font-size: 24px;
    text-align: center;
	font-family: 'Courier New', monospace;
}
#subMenu {
    position: absolute;
    top: 0;
    right: 40px; /* Moves menu to the left of the button */
    background: rgba(34, 34, 34, 0.8);
    border-radius: 8px;
    padding: 10px;
}
.navItem {
    width: 100px; /*navigation buttons!!*/
    height: 20px;
	background: #111;
    color: white;
    border: none;
    border-radius: 5%;
    cursor: grab;
    font-size: 20px;
    text-align: center;
	font-family: 'Courier New', monospace;
}