:root{
	--mainBgColor:hsla(0,0,0,0.85);
	--divB: 73%;
	--divBPar: 0.73;
	--divBInv: 136%;
	--divS: 25%;
	--divSPar: 0.25;
	--divSInv: 400%;

}

body{
	display: grid;
	height: 100vh;
	width: 100vw;
	grid-template-columns: var(--divS) var(--divB);
	grid-template-rows: 100%; /* Full height */
	gap: 2vw;
}
#main-section-container{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: var(--divS) var(--divB);
	grid-template-columns: 100%;
	gap: 2vh;
}
#main-texts{
	direction: rtl;
	overflow-y: auto;
	overflow-x: hidden;
	text-align: justify;
}
#main-texts p{
	direction: rtl;	text-align: justify;
}
p.main-text{
	opacity: 0.65;
}
p.chosen{
	opacity: 1;
}
#main {
	position: relative;
	transform: scale(var(--divBPar));
	transform-origin: top left;
	/*pointer-events: none;*/
	height: var(--divBInv);
	width: var(--divBInv);
	overflow-y: auto;
	overflow-x: hidden;
	background-attachment: fixed;
	background-size: cover;
	z-index: 1;
	background-color: var(--mainBgColor);
	border: none;
	margin: 0;
	padding:0;
}
#thumbnails-container{
	height: 100vh;
	overflow-y: hidden;
	overflow-x: hidden;
}
#buttons-container{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 25% 25% 25% 25%;
	grid-template-columns: 100%;
	gap: 0;
	overflow: hidden;
}
.phase-button{
	width: 95%;
	height: 80%;
	overflow: hidden;
	border: none;
	background-color: black;
}
.btn-frm{
	aspect-ratio: 1 / 1;
	transform: scale(var(--divSPar));
	transform-origin: top left;
	overflow: hidden;
	pointer-events: none;
	height: var(--divSInv);
}
.hidden{
	position:absolute;
}