:root {
	--bgBody:#000;
	--rowSize:16%;
	--schemeHeight:80%;
	--schemeTop:16%;
	--schemeWidth:90%;
	--bgInv:hsl(50, 50%, 95%);
	--colSize: 5%;
	--rows: 16% 16% 16% 16% 16% 16%;
	--textsTop: 67%;
	--textSctionWidth:80%;
	--textSectionRowSize:5.5vh;
	--navSubMenu:34;
	--infoTagWidth: 230px;
	--infoTagHeight: 110px;
	--zoomValue: 150%;
	--zoom:100;
	--base-size:1
}

#table-containor{
	width: 100%;
	height: 100%;
	/*top: 0;
	left:0;*/
	display: grid;
	grid-template-rows: var(--rows);
	grid-template-columns: 100%;
	gap: 0;
	border:0;
	z-index: 2;
	overflow: hidden;
}
#table-containor table{
	border:0;
	border-spacing:0;
}
.containor{
	height: 100%;
	width: 100%;
}
#table-containor tr{
	height: 100%;
	overflow: hidden;
	margin:0;
	padding:0;
}
#table-containor td{
	overflow: hidden;
	margin:0;
	padding:0;
	/*border: 1px red solid;*/
}
.row{
	overflow:hidden;
}
.larger{
	width: 100%;
}
.smaller td{
	width: var(--colSize);
	height: 100%
}
.smaller td img{
	max-width: 100%;
	max-height: 8vh;
}
#table-containor td img{
	max-height: var(--rowSize);
	filter: invert(1);
	mix-blend-mode: difference;
}
.right-half{ 
	direction: rtl;
}
.left-half{
	direction: ltr;
}
.row-odd .left-half{
	background-color: var(--bgInv);
}
.row-odd .right-half{
	background-color: var(--bgInv);
}
.row-even .left-half{
	background-color: var(--bgBody);
}
.row-even .right-half{
	background-color: var(--bgBody);
}
#large-scheme{
	position:fixed;
	z-index:1;
	top: var(--schemeTop);
	height: var(--schemeHeight);
	width: var(--schemeWidth);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	filter: invert(1);
	mix-blend-mode: difference;
	transition: background-size 0.3s ease;
	overflow: hidden;
}

#large-scheme.zoomed {
	/*background-size: var(--zoomValue); /* zoom level */
	background-size: calc(var(--base-size) * var(--zoom) * 1%); /* zoom level */
}

#texts {
	visibility:hidden;
	position:fixed;
	overflow-x:hidden;
	height: calc(var(--rowSize)*2);
	/*top:var(--textsTop);*/
	bottom:0;
	z-index:1;
	width:var(--textSctionWidth);
	font-size:12px
}
#texts-left{
	direction:rtl;
	position: absolute;
	right:50%;
	width:50%;
	bottom:0;
	text-align:center;
}
#texts-right{
	direction:ltr;
	position: absolute;
	left:50%;
	width:50%;
	bottom:0;
	text-align:center;
}
#texts p{
	margin:0;
	text-align:center;
}
#texts i{
	margin:0;
	text-align:center;
}
#texts h3{
	margin:0;
	text-align:center;
}
.text-table-row-R{
	height:var(--textSectionRowSize);
}
.text-table-row-L{
	height:var(--textSectionRowSize);
}
#info-tag{
	position:fixed;
	z-index:3;
	border-radius: 5px;
	background-color: rgba(calc(var(--navSubMenu)), calc(0.98*var(--navSubMenu)), calc(0.9*var(--navSubMenu)), 0.8);
	padding: 0px 10px;
	font-size: 14px;
	min-width: var(--infoTagWidth);
	min-height: var(--infoTagHeight);
}
#info-tag-type{
	font-style: italic;
}
