:root {
	--bgBody:#000;
	--rowSize:16vh;
	--bgInv:hsl(50, 50%, 95%);
	--colSize: 5vw;
	--rows: 16% 16% 16% 16% 16% 16% ;
}

#table-containor{
	/*width: 100%;
	height: 100%;
	top: 0;
	left:0;*/
	display: grid;
	grid-template-rows: var(--rows);
	grid-template-columns: 100%;
	gap: 0;
	border:0;
}
table{
	border:0;
	border-spacing:0;
}
tr{
	height: var(--rowSize);
	overflow: hidden;
	margin:0;
	padding:0;
}
td{
	overflow: hidden;
	margin:0;
	padding:0;
	/*border: 1px red solid;*/
}
.row{
	overflow:hidden;
}
.larger{
	width: 100%;
}
.smaller td{
	width: var(--colSize);
	height: 100%
}
.smaller td img{
	max-width: var(--colSize);
}
td img{
	max-height: var(--rowSize);
	filter: invert(1);
	mix-blend-mode: difference;
}
.right-half{ 
	direction: rtl;
}
.left-half{
	direction: ltr;
}
.row-odd .left-half{
	background-color: var(--bgInv);
}
.row-odd .right-half{
	background-color: var(--bgInv);
}
.row-even .left-half{
	background-color: var(--bgBody);
}
.row-even .right-half{
	background-color: var(--bgBody);
}
