:root {
	--pathSaturation:100%;
	--pathLightness:90%;
	--htmlH:40;
	--cssH:	180;
	--jsH:	0;
	--jpgH:	260;
	--pngH:	280;
	--gifH:	290;
	--jpegH:270;
	--mp4H:	330;
	--imgH:	280;
	--txtH:	120;
	--otherH:220;
	--jsonH:220;
	--htmlStroke:inherit;
	--cssStroke:inherit;
	--jsStroke:inherit;
	--jpgStroke:inherit;
	--pngStroke:inherit;
	--gifStroke:inherit;
	--jpegStroke:inherit;
	--mp4Stroke:inherit;
	--imgStroke:inherit;
	--txtStroke:inherit;
	--otherStroke:inherit;
	--jsonStroke:inherit;
	
	--waveFill:hsla(72, 100%, 75%,1);
	--waveStroke:0px;
	--waveShadow:drop-shadow(0 0 5px hsl(75,72%,72%));
	
	--circSaturatin:100%;
	--circLihgtness:65%;
	--circStroke:2px;
	--textColor:white;
	--textShadow:2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
	--bgBody:#000;
	--bgImg: linear-gradient(hsla(120, 100%, 50%, 0.4) .1em, transparent .1em), linear-gradient(90deg, hsla(120, 100%, 50%, 0.4) .1em, transparent .1em);
	--staticShadow:  drop-shadow(0 0 5px hsl(84,100%,59%));
		
	--gridSize: 50px;
}
body{
	background-image: var(--bgImg);
	background-size: var(--gridSize) var(--gridSize);
	background-color: var(--bgBody);
}
#svg-container {
	width: 100vw;
	height: 100vh;
	margin: 0;
	overflow: hidden;
	stroke: white;
}
svg{
	overflow:visible;
}
#display-layout{
	position:fixed;
	width:calc(var(--gridSize)*8/10);
	height:calc(var(--gridSize)*8/10);
	top:calc(var(--gridSize)/10);
	left:calc(var(--gridSize)/10);
	border-radius: 5%;
	opacity:0.7;
}
#dark-button{
	position:fixed;
	width:calc(var(--gridSize)*8/10);
	height:calc(var(--gridSize)*8/10);
	top:calc(var(--gridSize)*11/10);
	left:calc(var(--gridSize)/10);
	border-radius: 50%;
	overflow:hidden;
	border: 2px solid var(--textColor);
	opacity:0.7;
	rotate: 0 0 1 45deg;
}
#toggle-dark{
	height:50%;
	width:100%;
	background-color:#000;
}
#toggle-light{
	height:50%;
	width:100%;
	background-color:#fff;
}
#page-preview-container{
	position:fixed;
	top:5%;
	right: 5vh;
	height:90%;
	width:45%;
	display:none;
}
#page-preview-wrapper{
	overflow:hidden;
	border-radius:10px;
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	border: 2px solid var(--textColor);
}
#page-preview-container button{
	position: absolute;
	background-color: #333;
	left:-45px;
	color:white;
	border: 1px solid #555;
	height:35px;
	width:35px;
	border-radius: 10px;
}
#openBtn{
	top:45px;
}
#closeBtn{
	top: 0px;
}
#page-preview{
	background-color: #444;
	display:none;
	height: 100%;
	width: 100%;
}
#code-preview{
	display:none;
	height: 100%;
	width: 100%;
	margin: 0;
	padding:0;
	font-size:13px;
}
.symBg{
	position:absolute;
	z-index: -1;
}
.smBg{
	position:absolute;
	z-index: 1;
}
text {
	stroke: var(--textColor);
	display:none;
	text-shadow: var(--textShadow);
}
circle {
	cursor: pointer;
	stroke: white;
	r:10;
	stroke-width: var(--circStroke);
}
circle.static {
	filter: var(--staticShadow);
	/*stroke: lime;
	stroke-width: 2px;*/
}
circle.html {
	fill: hsla(var(--htmlH), var(--circSaturatin), var(--circLihgtness), 0.8);
	stroke: var(--htmlStroke);
	r: 25;
}
circle.css { 
	fill: hsla(var(--cssH), var(--circSaturatin), var(--circLihgtness), 0.8);
	stroke: var(--cssStroke);
	r: 10;
}
circle.js {
	fill: hsla(var(--jsH), var(--circSaturatin), var(--circLihgtness), 0.8);
	stroke: var(--jsStroke);
	r:15;
}
circle.jpg {
	fill: hsla(var(--jpgH), var(--circSaturatin), var(--circLihgtness), 0.8);
	stroke: var(--jpgStroke);
	r:8;
}
circle.png {
	fill: hsla(var(--pngH), var(--circSaturatin), var(--circLihgtness), 0.8);
	stroke: var(--pngStroke);
	r:8;
}circle.gif {
	fill: hsla(var(--gifH), var(--circSaturatin), var(--circLihgtness), 0.8);
	stroke: var(--gifStroke);
	r:8;
}
 circle.jpeg {
	fill: hsla(var(--jpegH), var(--circSaturatin), var(--circLihgtness), 0.8);
	stroke: var(--jpegStroke);
	r:8;
}
circle.mp4 {
	fill: hsla(var(--mp4H), var(--circSaturatin), var(--circLihgtness), 0.8);
	stroke: var(--mp4Stroke);
	r:8;
}    
circle.txt {
	fill: hsla(var(--txtH), var(--circSaturatin), var(--circLihgtness), 0.8);
	stroke: var(--txtStroke);
	r:12;
}
circle.other {
	fill: hsla(var(--otherH), var(--circSaturatin), var(--circLihgtness), 0.8);
	stroke: var(--otherStroke);
	r:10;
}
circle.json {
	fill: hsla(var(--jsonH), var(--circSaturatin), var(--circLihgtness), 0.8);
	stroke: var(--jsonStroke);
	r:10;
}
line {
	stroke: var(--textColor);
	stroke-width: 1px;
	opacity: 0.7;
}
path{
	stroke: white;
	stroke-width: 4px;
	opacity: 0.7;
	fill: none;
}
path.pathS-html:nth-of-type(n) {stroke: hsl(calc(var(--index) + var(--htmlH)), var(--pathSaturation), var(--pathLightness));}
path.pathS-css:nth-of-type(n) {stroke: hsl(calc(var(--index) + var(--csshH)), var(--pathSaturation), var(--pathLightness));}
path.pathS-js:nth-of-type(n) {stroke: hsl(calc(var(--index) + var(--jsH)), var(--pathSaturation), var(--pathLightness));}
path.pathS-jpg:nth-of-type(n) {stroke: hsl(calc(var(--index) + var(--jpgH)), var(--pathSaturation), var(--pathLightness));}
path.pathS-png:nth-of-type(n) {stroke: hsl(calc(var(--index) + var(--pngH)), var(--pathSaturation), var(--pathLightness));}
path.pathS-gif:nth-of-type(n) {stroke: hsl(calc(var(--index) + var(--gifH)), var(--pathSaturation), var(--pathLightness));}
path.pathS-jpeg:nth-of-type(n) {stroke: hsl(calc(var(--index) + var(--jpegH)), var(--pathSaturation), var(--pathLightness));}
path.pathS-mp4:nth-of-type(n) {stroke: hsl(calc(var(--index) + var(--mp4H)), var(--pathSaturation), var(--pathLightness));}
path.pathS-txt:nth-of-type(n) {stroke: hsl(calc(var(--index) + var(--txtH)), var(--pathSaturation), var(--pathLightness));}
path.pathS-other:nth-of-type(n) {stroke: hsl(calc(var(--index) + var(--otherH)), var(--pathSaturation), var(--pathLightness));}
.wave{
	r: 4;
	/*fill: hsla(72, 100%, 75%,1);*/
	fill:var(--waveFill);
	stroke-width: var(--waveStroke);
	filter: var(--waveShadow);
}
.wjs{
	/*fill: hsla(40, 100%, 75%,1);*/
}
iframe.code {
	border: 1px solid #333;
	background: black;
}

iframe.code pre {
	padding: 10px;
	margin: 0;
	font-family: monospace;
	white-space: pre-wrap;
	color: #00ffcc; /* Default green */
}

iframe.code .lang-js pre { color: #00ffcc; }
iframe.code .lang-txt pre { color: #999; }
iframe.code .lang-py pre { color: #ffcc00; }