body{
	background-image: linear-gradient(hsla(120, 100%, 50%, 0.4) .1em, transparent .1em), linear-gradient(90deg, hsla(120, 100%, 50%, 0.4) .1em, transparent .1em);
	background-size: 50px 50px;
}
#svg-container {
	width: 100vw;
	height: 100vh;
	margin: 0;
	overflow: hidden;
}
text {
	fill: white;
	display:none;
	text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}
circle {
	cursor: pointer;
	stroke: white;
	r:10;
	stroke-width: 2px;
}
circle.static {
	filter: drop-shadow(0 0 5px hsl(75,72%,72%));
	/*stroke: lime;
	stroke-width: 2px;*/
}
circle.html {
	fill: hsla(0, 0%, 95%, 0.8);
	r: 25;
}
circle.css { 
	fill: hsla(180, 100%, 80%, 0.8);
	r: 10;
}
circle.js {
	fill: hsla(0, 100%, 70%, 0.8);
	r:15;
}
circle.jpg {
	fill: hsla(260, 100%, 70%, 0.8);
	r:8;
} circle.png {
	fill: hsla(280, 100%, 70%, 0.8);
	r:8;
} circle.gif {
	fill: hsla(290, 100%, 70%, 0.8);
	r:8;
} circle.jpeg {
	fill: hsla(270, 100%, 70%, 0.8);
	r:8;
} circle.mp4 {
	fill: hsla(330, 100%, 70%, 0.8);
	r:8;
}    
circle.txt {
	fill: hsla(120, 100%, 90%, 0.8);
	r:12;
}
circle.other {
	fill: hsla(0, 0%, 0%, 1);
	r:10;
}
line {
	stroke: white;
	stroke-width: 1px;
	opacity: 0.5;
}
path{
	stroke: white;
	stroke-width: 3px;
	opacity: 0.5;
	fill: none;
}
.wave{
	r: 4;
	fill: hsla(72, 100%, 75%,1);
	stroke-width: 0px;
	filter: drop-shadow(0 0 5px hsl(75,72%,72%));
}
.wjs{
	/*fill: hsla(40, 100%, 75%,1);*/
}