#svg-container {
	width: 98vh;
	height: 98vh;
	margin: 0;
	overflow: hidden;
}
text {
	fill: white;
	font-family: sans-serif;
}
circle {
	cursor: pointer;
	stroke: white;
	stroke-width: 2px;
}
circle.html {
	fill: white;/* HTML files */
	r: 17;
}
circle.css { 
	fill: hsla(180, 100%, 90%, 1);/* CSS files */
	r: 10;
}
circle.js {
	fill: red; /* JS files */
	r:15;
}
circle.img {/* Image files */
	fill: hsla(0, 0%, 70%, 0.8);
	r:7;
}      
circle.txt {/* TXT files */
	fill: hsla(120, 100%, 90%, 1);
	r:12;
}
line {
	stroke: white;
	stroke-width: 1px;
	opacity: 0.5;
}
path{
	stroke: white;
	stroke-width: 1px;
	opacity: 0.5;
	fill: none;
}
.wave{
	r: 4;
	fill: hsl(50, 100%, 70%);
	stroke-width: 0px;
}